.texte
{
	text-align: center;
}

.image1
{
	float: left;
	width:400px;
	height: 400px;
}

.image2
{
	float: right;
	width:350px;
	height: 350px;
}
.horaires
{
	text-align: center;
}
.contact
{
	text-align: center;
	background-color: rgb(232 232 232);

}

body
{
	background-image: url("Forro2.jpg");
}
	

p
{
color: black;
font-size: 2.5em;
font-family: Segoe Print, Georgia, serif;
background-color: rgb(232 232 232);
}

.présentation
{
	text-align:center; 
}

h1
{
	font-size:7em;
}