.Image
{
text-align: center;
}

.Texte
{
	width: 500px;
	margin: auto;
	text-align: justify;
	padding:12px;
	margin-bottom: 20px;
}

.Horaires
{
	width: 500px;
	margin: auto;
	text-align: center;
	padding:12px;
	margin-bottom: 20px;
}

.Contact
{
	text-align: center;
}